
.Celular{
    margin-top:50px;
    margin-left:150px;
    margin-right:50px;
    margin-bottom: 20px;
    height: 380px;
    width: 581px;

    
}

.TelNomeUsuarioSenha{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    max-height:267px;
    max-width:378px;
    height: auto;
    width:auto;
    border:2px solid #262626;
}
.flex-item{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: Ubuntu, Arial;
    text-align: start;
    justify-content: center;
}

.containerlogin{
    margin-top:50px;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 20px;
    height:350px;
    width: 398px;
    border: 2px solid grey;
    font-family: Ubuntu, Arial;
    
}
#Perfil{
    border-radius: 100%;
}



